// Set your brand colors
$purple: #897DFF;
$purple-light: #c9c3ff;
$dark-blue: #001461;
$darker-blue: #000722;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with ($family-primary: '"Nunito", sans-serif',
    $grey-dark: $dark-blue,
    $black: $darker-blue,
    $grey-light: $beige-light,
    $primary: $purple,
    $link: $purple-light,
);



// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Chau+Philomene+One:400,700");

.qr-fixed {
    width: min(8cm, 90vw);
    height: min(8cm, 90vw);
}

.qr-fixed img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* or cover depending on preference */
}